.barra{
    display: inline-block;
    top: -50;
    padding: 10px;
}

a{
    text-decoration: none;
    color:black;
}

.desplegable{
    position: absolute;
    left: -10px;
    top: -300px;
}

.courses{
    padding: 4px;

}

.div_courses:hover > .desplegable{
    top: 50px;
}