*{
    margin: 0;
}

.menu__li{
    display: inline-block;
    padding: 20px;
}

.menu{
    display: inline-block;
    position: relative;
    left: 50px;
}

.nav{
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.    1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+,     Chrome 26+, Opera 12+, Safari 7+ */

    height: 70px;
    width: auto;
}

.links{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



/* nav desplegable a menu */

.menu__desplegable{
    display: inline-block;
    position: absolute;
    left: 450px;
}

.links__courses{
    text-decoration: none;
    color: black;
}

.li__desplegable{
    padding: 5px;
}